html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    margin: 0;
    padding: 0;
}

.container{
    margin-left: 360px;
    margin-right: 360px;
}

.logo {
    margin-top: 0px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.logo_img{
    margin-top: 32px;
}